body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.white-space-break-spaces {
    white-space: break-spaces;
}

.d-flex{
    display: flex;
}

.justify-content-end{
    justify-content: end;
}

.align-items-end{
    align-items: end;
}